<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <button type="button" routerLink="/dashboard/user"
                            class="btn btn-block btn-sm btn-outline-primary">View
                            </button>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/user">User</a></li>
                        <li class="breadcrumb-item active">Edit User</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">User Edit Form | <small>Update</small></h3>
                        </div>


                        <form #userForm="ngForm">
                            <div class="card-body">

                                <div class="row">
                                
                                    <div class="col">

                                        <div class="form-group">
                                            <label for="fullName">Full Name</label>
                                            <input type="text" name="fullName" required class="form-control" id="fullName" #fullName="ngModel"
                                                [class.is-invalid]="fullName.invalid" ngModel [(ngModel)]="userModule.fullName" placeholder="Enter Full Name">
                                            <span style="color: red; font-size: 12px;" *ngIf="fullName.invalid">Full
                                                Name is
                                                required</span>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label for="shortName">Short Name</label>
                                            <input type="text" name="shortName" required="" class="form-control" id="shortName" #shortName="ngModel"
                                                [class.is-invalid]="shortName.invalid" ngModel [(ngModel)]="userModule.shortName" placeholder="Enter Short Name">
                                            <span style="color: red; font-size: 12px;" *ngIf="fullName.invalid">Short
                                                Name is
                                                required</span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="">Email</label>
                                                <input required [class.is-invalid]="email.invalid" [(ngModel)]="userModule.email" #email="ngModel"
                                                    name="email" type="email" id="email" class="form-control" id="exampleInputEmail1"
                                                    placeholder="Enter Email">
                                    
                                                <div *ngIf="email.invalid">
                                                    <small style="color: red; font-size: 12px;">Invalid Email
                                                        Address</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input required [class.is-invalid]="address.invalid" [(ngModel)]="userModule.address" #address="ngModel" type="text"
                                                name="address" class="form-control" id="address"
                                                placeholder="Enter Address">
                                            <span style="color: red; font-size: 12px;" *ngIf="address.invalid">Full
                                                Address is
                                                required</span>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label for="mobileNumber">Mobile Number</label>
                                            <input required [class.is-invalid]="mobileNumber.invalid" [(ngModel)]="userModule.mobileNumber" #mobileNumber="ngModel"
                                                type="text" name="mobileNumber" class="form-control" id="mobileNumber" placeholder="Enter Mobile Number">
                                            <span style="color: red; font-size: 12px;" *ngIf="mobileNumber.invalid">Full
                                                Mobile Number is
                                                required</span>
                                        </div>
                                    </div>
                                    
                                    </div>
                                    <div class="row">
                                    
                                        <div style="margin: auto;" class="col-sm-4">

                                        <div class="form-group">
                                            <label>Route</label>
                                            <select (change)="onSelectRoute($event)" class="form-control">
                                                <option value="">{{routeName}}</option>
                                                <option *ngFor="let arr of routeArray" value="{{arr.id}}">
                                                    {{arr.routeName}}</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card-footer">
                                <button [disabled]="userForm.form.invalid" (click)="editUser()" style="float: right;" type="submit"
                                    class="btn btn-danger">Update</button>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="col-md-6">
                </div>

            </div>

        </div>
    </section>

</div>