<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <button type="button" routerLink="/dashboard/stock"
                            class="btn btn-block btn-sm btn-outline-primary">View
                        </button>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/stock">stock</a></li>
                        <li class="breadcrumb-item active">Edit Stock</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Stock Edit Form</h3>
                        </div>


                        <form id="quickForm" novalidate="novalidate" autocomplete="off">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="productName">Product Name</label>
                                            <input type="text" disabled value="{{productName}}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col">

                                        <div class="form-group">
                                            <label for="stockAmount">Stock Amount</label>
                                            <input type="number" name="stockAmount" [(ngModel)]="stock" class="form-control" id="stockAmount"
                                                placeholder="Enter Stock Amount">
                                        </div>
                                    </div>
                                </div>





                            </div>

                            <div class="card-footer">
                                <button (click)="update()" style="float: right;" type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="col-md-6">
                </div>

            </div>

        </div>
    </section>

</div>