<div class="content-wrapper">

<br>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-6">

                    <div class="small-box bg-info">
                        <div class="inner">
                            <h4>{{customerCount}}</h4>
                            <p>Customer</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-success">
                        <div class="inner">
                            <h4>53<sup style="font-size: 20px">%</sup></h4>
                            <p>Bounce Rate</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h4>44</h4>
                            <p>User Registrations</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h4>65</h4>
                            <p>Unique Visitors</p>
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </section>

</div>