<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <button type="button" routerLink="/dashboard/stockTransfer"
                            class="btn btn-block btn-sm btn-outline-primary">View
                        </button>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/stockTransfer">Stock Transfer</a></li>
                        <li class="breadcrumb-item active">Edit Stock Transfer</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Edit Stock Transfer Form</h3>
                        </div>


                        <form id="quickForm" novalidate="novalidate" autocomplete="off">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select Route</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <p style="text-align: center;"> To</p>

                                        </div>
                                    </div>


                                    <div class="col">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select Route</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">


                                    <div style="margin: auto;" class="col-sm-3">

                                        <div class="form-group">
                                            <input type="text" name="stockAmount" class="form-control" id="stockAmount"
                                                placeholder="Enter Stock Amount">
                                        </div>
                                    </div>
                                </div>





                            </div>

                            <div class="card-footer">
                                <button style="float: right;" type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="col-md-6">
                </div>

            </div>

        </div>
    </section>

</div>