<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <button type="button" routerLink="/dashboard/add-customer"
                            class="btn btn-block btn-sm btn-outline-primary">Add</button>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
                        <li class="breadcrumb-item active">Customer</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Customer Table</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" [(ngModel)]="searchText" name="search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body table-responsive p-0">

                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Business Name</th>
                                        <th>Mobile</th>
                                        <th>Alternate</th>
                                        <th>LandLine</th>
                                        <th>Route</th>
                                        <th>City</th>
                                        <th>Address</th>
                                        <th>Credit Limit</th>
                                        <th width="5%">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="dataArrayLength == 0">
                                    <tr>
                                        <td colspan="7" style="text-align: center;">No data found</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="lording">
                                    <tr>
                                        <td colspan="9" style="text-align: center;">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody *ngFor="let arr of dataArray | filter:searchText">

                                    <tr>
                                        <td>{{arr.businessName}}</td>
                                        <td>{{arr.mobileNumber}}</td>
                                        <td>{{arr.alternateNumber}}</td>
                                        <td>{{arr.landLine}}</td>
                                        <td>{{arr.routeName}}</td>
                                        <td>{{arr.city}}</td>
                                        <td>{{arr.address}}</td>
                                        <td>{{arr.creditLimit}}</td>
                                        <td>
                                            <div class="row">

                                                <div class="col">
                                                    <button type="button" (click)="viewCustomer(arr.id, arr.businessName)"
                                                        class="btn btn-block btn-sm btn-outline-warning"><i class="nav-icon fas fa-eye"></i>
                                                    </button>
                                                    
                                                </div>
                                                    <div class="col">
                                                        <button type="button" (click)="editCustomer(arr.id)" class="btn btn-block btn-sm btn-outline-success"><i
                                                            class="nav-icon fas fa-pen"></i>
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <button type="button" (click)="deleteCustomer(arr.id,arr.businessName)"
                                                        class="btn btn-block btn-sm btn-outline-danger"><i class="nav-icon fas fa-trash"></i>
                                                    </button>
                                                </div>


                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

</div>