<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <button type="button" routerLink="/dashboard/route"
                            class="btn btn-block btn-sm btn-outline-primary">View
                            </button>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/route">Route</a></li>
                        <li class="breadcrumb-item active">Edit Route</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Route Form</h3>
                        </div>


                        <form #routeForm=ngForm>
                            <div class="card-body">

                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="routeNumber">Route Number</label>
                                            <input required type="text" name="routeNumber" class="form-control" id="routeNumber" placeholder="Enter Route Number"
                                                [class.is-invalid]="routeNumber.invalid" #routeNumber="ngModel" ngModel [(ngModel)]="routeModule.routeNumber">
                                            <span style="color: red; font-size: 12px;" *ngIf="routeNumber.invalid">Route Number is
                                                required</span>
                                            </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="routeName">Route Name</label>
                                            <input required type="text" name="routeName" class="form-control" id="routeName" placeholder="Enter Route Name"
                                                [class.is-invalid]="routeName.invalid" #routeName="ngModel" ngModel [(ngModel)]="routeModule.routeName">
                                            <span style="color: red; font-size: 12px;" *ngIf="routeName.invalid">Route Name is
                                                required</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="cities">Cities</label>
                                            <textarea required name="cities" id="cities" class="form-control" rows="3" placeholder="Enter Cities ..."
                                                [class.is-invalid]="cities.invalid" #cities="ngModel" ngModel [(ngModel)]="routeModule.cities"
                                                (keyup)="checkValideCities()"></textarea>
                                            <span style="color: red; font-size: 12px;" *ngIf="citiesLength < 4">Must be at leat 4 cities</span> <br>
                                            <span style="color: red; font-size: 12px;" *ngIf="checkCitiesValidation == true">Please add comma separated
                                                values</span>
                                            
                                            <p>Comma separated values Example: Embilipitiya,Middeniya,Thangalla</p>

                                            
                                        </div>


                                    </div>



                                </div>
                            </div>

                            <div class="card-footer">
                                <button [disabled]="routeForm.form.invalid || checkCitiesValidation == true || citiesLength < 4" (click)="editRoute()"
                                    style="float: right;" type="submit" class="btn btn-danger">Update</button>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="col-md-6">
                </div>

            </div>

        </div>
    </section>

</div>