<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <button type="button" routerLink="/dashboard/add-route"
                            class="btn btn-block btn-sm btn-outline-primary">Add
                            </button>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
                        <li class="breadcrumb-item active">Route</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Route Table</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" [(ngModel)]="searchText" name="search" class="form-control float-right"
                                        placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th width="10%">Route Number</th>
                                        <th width="30%" style="text-align: center;">Route Name</th>
                                        <th width="50%" style="text-align: center;">Included Cities</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="dataArrayLength == 0">
                                    <tr>
                                        <td colspan="7" style="text-align: center;">No data found</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="lording">
                                    <tr>
                                        <td colspan="9" style="text-align: center;">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngFor="let arr of dataArray | filter:searchText">

                                    <tr>
                                        <td>{{arr.routeNumber}}</td>
                                        <td>{{arr.routeName}}</td>
                                        <td>{{arr.cities}}</td>
                                        <td>
                                            <div class="row">
                                        
                                                <div class="col">
                                                    <button type="button" (click)="editRoute(arr.id)" class="btn btn-block btn-sm btn-outline-success"><i
                                                            class="nav-icon fas fa-pen"></i>
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <button type="button" (click)="deleteRoute(arr.id,arr.routeName)"
                                                        class="btn btn-block btn-sm btn-outline-danger"><i class="nav-icon fas fa-trash"></i>
                                                    </button>
                                                </div>
                                        
                                        
                                            </div>
                                        
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

</div>